table {
    width: 100%;
    font: normal normal normal 16px/21px Roboto;
    color: #595959;
}

.tr-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 2px solid;
}

.tr-row td label {
    display: none;
}

.tr-row td:first-child {
    font: normal normal 900 16px/21px Roboto;
}

.table-buttons {
    display: flex;
    flex-direction: row;
}
