.inputs {
    display: flex;
    flex-direction: column;
}

.inputs label {
    color: #595959;
    font-weight: bold;
    margin-bottom: 10px;
    font: normal normal 900 16px/21px Roboto;
    text-transform: capitalize;
}

.inputs input {
    width: 150px;
    height: 20px;
    margin-right: 20px;
    font: normal normal normal 16px/21px Roboto;
    color: #595959;
}
