.home-page {
    margin: 10% 25% 0;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}

.container button {
    width: 70px;
    height: 27px;
    margin-top: 27px;
}
