@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

.body {
    background-color: white;
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
